input {
  padding: 1rem 1rem 1rem 1rem;
  width: 90%;
}
input[type="text"] {
  font-size: 24px;
}
input[type="email"] {
  font-size: 24px;
}
input[type="number"] {
  font-size: 24px;
}
div {
  padding: 1rem;
}
